html {
  box-sizing: border-box;
  font-size: 10px;
  background: #ffc600;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background: #ffc600;
  font-family: 'Amatic SC', cursive;
    
}

.header {
    text-align: center;
    font-size: 120px;
}

.score {
    background: orange;
}
.startGame{
    font-weight: bold;
}

.hole{
    margin: 0 20px 0 50px;
    background: url(dirt.svg) center no-repeat;
    background-size: contain;
    width: 200px;
    height: 100px;
    position: relative;
    z-index: 5;
}

.row{
    margin-top: 200px;
}

.mole{
    margin: 200px 20px 0 50px;    
    background: url(mole.svg) center no-repeat;
    background-size: 60%;
    width: 200px;
    height: 0px;
    position: absolute;
    bottom: 20%;
    z-index: 4;
    
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
    
}

.up{
    height: 180px;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;

}